.container{
    margin: 1rem;
}

button{
    padding: 8px 14px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-family: system-ui, sans-serif;
    margin-bottom: 10px;
}
