
html{
    margin: 0;
}

span{
    display: block;
}

.canvas{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
    /* margin: 7px; */
}

#red{
    background: red;
}

#yellow{
    background: yellow;
}

#blue{
    background: blue;
}

#green{
    background: green;
}