.form, .wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#guess{
    margin-bottom: 10px;
}

#guessField{
    margin-bottom: 10px;
    padding: 8px 14px;
    outline-color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.guessSubmit{
    background-color: teal;
    padding: 7px 12px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 7px;
}

